---
http_interactions:
- request:
    method: get
    uri: https://pirate.monkeyness.com/api/insult
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Apigw-Requestid:
      - GD6_MiYCvHcEJCQ=
    body:
      encoding: UTF-8
      string: We'll rip an' burn yer Jolly Roger, ye gutless, feculent dullard! ...
        Where's the grog?!
  recorded_at: Mon, 05 Jun 2023 20:00:07 GMT
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC99942bb9597b421571e7090d26c5512c/Messages.json
    body:
      encoding: UTF-8
      string: Body=We%27ll+rip+an%27+burn+yer+Jolly+Roger%2C+ye+gutless%2C+feculent+dullard%21+...+Where%27s+the+grog%3F%21&From=%2B18885063054&To=%2B16609883522
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM5OTk0MmJiOTU5N2I0MjE1NzFlNzA5MGQyNmM1NTEyYzowZjg5MTI4ODU2YzIwN2IyZTY0YTQ5NmZjOGRkNzVmNg==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQb8f354891c3eb2eb64471c27b2e1e9cf
      Twilio-Request-Duration:
      - '0.176'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"body": "Sent from your Twilio trial account - We''ll rip an'' burn
        yer Jolly Roger, ye gutless, feculent dullard! ... Where''s the grog?!", "num_segments":
        "1", "direction": "outbound-api", "from": "+18885063054", "date_updated":
        "Mon, 05 Jun 2023 20:00:08 +0000", "price": null, "error_message": null, "uri":
        "/2010-04-01/Accounts/AC99942bb9597b421571e7090d26c5512c/Messages/SMb8f354891c3eb2eb64471c27b2e1e9cf.json",
        "account_sid": "AC99942bb9597b421571e7090d26c5512c", "num_media": "0", "to":
        "+16609883522", "date_created": "Mon, 05 Jun 2023 20:00:08 +0000", "status":
        "queued", "sid": "SMb8f354891c3eb2eb64471c27b2e1e9cf", "date_sent": null,
        "messaging_service_sid": null, "error_code": null, "price_unit": "USD", "api_version":
        "2010-04-01", "subresource_uris": {"media": "/2010-04-01/Accounts/AC99942bb9597b421571e7090d26c5512c/Messages/SMb8f354891c3eb2eb64471c27b2e1e9cf/Media.json"}}'
  recorded_at: Mon, 05 Jun 2023 20:00:08 GMT
[...]
